/* 設定預設值 */

* {
  /* 必須的，不加畫面很垃圾 */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* 可選的 */
  font-family: sans-serif;
  line-height: 1.6em;
  font-size: 14px;
}

/* 設定所有的Input */
input {
  width: 80%;
  height: 30px;
  padding: 0;
  /* 設定置中 */
  display: table;
  margin: 0 auto;
  margin-top: 10px;
  /* 邊框 */
  border-style: solid;
  border-radius: 10px;
  border-color: Black;
  /* 動畫時長？ */
  transition: 0.5s time;
}

/* input動畫 */
input:hover {
  animation-iteration-count: infinite;
  animation-direction: alternate;

  animation-name: borderFlashing;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  -webkit-animation-name: borderFlashing;
  -webkit-animation-duration: 0.5s;
}

/* 閃爍動畫設定 */
@keyframes borderFlashing {
  from {
    border-color: black;
    border-width: 3px;
    width: 79%;
    height: 29;
  }
  to {
    border-color: gold;
    border-width: 5px;
    width: 83%;
    height: 32;
  }
}
@-webkit-keyframes borderFlashing {
  from {
    border-color: gold;
    border-width: 5px;
    width: 83%;
    height: 32;
  }
  to {
    border-color: black;
    border-width: 3px;
    width: 79%;
    height: 29;
  }
}

/* 指向Class changeArea */
.changeArea {
  background-color: rgb(255, 255, 255);
}

/* 一次套用多個設定 */
#header,
#left,
#right {
  display: block;
}

#header {
  background-color: beige;
  width: 100%;
  height: 100px;
}

#left {
  background-color: beige;
  width: 65%;
  height: 700px;
  /* 排版方式 */
  float: left;
  margin-left: 1%;
  /* 邊框 */
  border-style: solid;
  border-radius: 10px;
  border-color: #bb0a0a;
}

#right {
  background-color: beige;
  width: 25%;
  height: 700px;
  float: left;
  margin-left: 1%;
  border-style: solid;
  border-radius: 10px;
}
